<h1>Persons</h1>
{{#persons}}
    <ul>
        <li>{{firstName}} {{lastName}}.</li>
    </ul>
{{/persons}}

<h1>Companies</h1>
{{#companies}}
    <ul>
        <li>{{name}}.</li>
    </ul>
{{/companies}}
